<ion-header>

</ion-header>

<ion-content padding color="medium">



  
  <div style="text-shadow:1px -3px 5px rgba(67,255,46,0.7);font-weight:normal;
                    color:#565691;letter-spacing:6pt;word-spacing:-1pt;font-size:40px;text-align:center;
                    font-family:palatino linotype, palatino, serif;line-height:3;margin:0px;padding:0px;">
                        Bienvenido</div>

<div style="text-shadow:1px -3px 5px rgba(67,255,46,0.7);font-weight:normal;font-style:italic;color:#565691;
                        letter-spacing:6pt;word-spacing:-1pt;font-size:20px;text-align:center;
                        font-family:palatino linotype, palatino, serif;line-height:3;">
                        Proyecto <br> de <br> Investigación</div>



<br>

<div style="text-align:center">
    <img   style="border-radius: 20px" src="../../assets/imgs/hospital.png" />
</div>





</ion-content>




<ion-footer>
  <ion-toolbar color="medium">
  <ion-button expand="full" routerLink="/inicio" color="success">
    ACCEDER
    </ion-button>
    <div style="text-align:center">
    <img src="../../assets/imgs/logo2.png" />
    </div>
  </ion-toolbar>
</ion-footer>