<ion-content color="tertiary">

  <div style="text-align:center; color: #f0d0d0">
    <br>
  <ion-label>PASO 1 - PULSAR</ion-label><br><br>
  <ion-label>"ESCANEAR CÓDIGO"</ion-label><br><br>
  <ion-label>PASO 2</ion-label><br><br>
  <ion-label><i>"APUNTAR AL CÓDIGO QR"</i> </ion-label><br><br>
  <ion-label>PASO 2.1 OPCIONAL - PULSAR</ion-label><br><br>
  <ion-label><i>"INTRODUCIR CÓDIGO MANUALMENTE"</i> </ion-label><br><br>  
  <ion-label><i>Con esta lectura del código se permite que el paciente quede registrado en las encuestas..</i> </ion-label><br><br>
  <ion-label>PASO 3 - PULSAR</ion-label><br><br>
  <ion-label>"REGISTRASE"</ion-label><br><br>
  <ion-label>PASO 4</ion-label><br><br>
  <ion-label>Esperar confirmación</ion-label><br><br>
  <ion-label>PASO 5</ion-label><br><br>
  <ion-label>Salir al Menú Principal</ion-label><br><br>
  
  <br>
</div>

</ion-content>