<ion-content color="tertiary">

  <div style="text-align:center; color: #f0d0d0">
    <br>
  <ion-label>PASO 1 - PULSAR</ion-label><br><br>
  <ion-label>"LISTADO DE PREGUNTAS"</ion-label><br><br>  
  <ion-label><i>Si tiene preguntas disponibles, aparecerá un listado, pulse la que desea contestar..</i> </ion-label><br><br>
  <ion-label>PASO 2</ion-label><br><br>
  <ion-label><i>"RELLENAR RESPUESTA"</i> </ion-label><br><br>  
  <ion-label><i>Rellene el campo destinado a la respuesta y pulse OK</i> </ion-label><br><br>
  <ion-label>PASO 3</ion-label><br><br>  
  <ion-label>Esperar confirmación</ion-label><br><br>
  <ion-label>PASO 4</ion-label><br><br>  
  <ion-label>Responder mas preguntas o Salir</ion-label><br><br>
  
  <br>
</div>

</ion-content>