<app-header titulo="VER ENCUESTAS"></app-header>

<ion-content color="medium">



Identificador: {{pushService.identificador}}




<ion-button expand="full"  (click)="apiService.postProcedimientos()">
  AÑADIR PROCEDIMIENTOS
</ion-button>

<ion-button expand="full"  (click)="apiService.putProcedimientos(codigo)">
 PUT PROCEDIMIENTOS
  </ion-button>

<!-- <ion-button expand="full" (click)="getPreguntas(this.nuhsa)">
   VER ENCUESAS CONSOLE LOG
  </ion-button> -->




<ion-list>    
    <ion-item style="color: #47d1ff" (click)="contestarPregunta(e.id, e.pregunta)" *ngFor="let e of encuestas">     
      <ion-icon slot="start" name="clipboard"></ion-icon>        
      <h2>{{ e.pregunta | uppercase }}</h2>
     
      </ion-item>
</ion-list>




 

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <div style="text-align:center">
    <img src="../../assets/imgs/logo2.png" />
    </div>
  </ion-toolbar>
</ion-footer>



