

<ion-content color="tertiary">

  <div style="text-align:center; color: #f0d0d0">
    <br>
  <ion-label>PASO 1 - PULSAR</ion-label><br><br>
  <ion-label>"REGISTRO DEL PACIENTE"</ion-label><br><br>
  <ion-label>PASO 2</ion-label><br><br>
  <ion-label><i>"SEGUIR SUS INSTRUCCIONES"</i> </ion-label><br><br>  
  <ion-label><i>Siga las intrucciones de esa sección, cuando las complete, siga al paso 3</i> </ion-label><br><br>
  <ion-label>PASO 3 - PULSAR</ion-label><br><br>
  <ion-label>"TUS PREGUNTAS"</ion-label><br><br>
  <ion-label><i>"SEGUIR SUS INSTRUCCIONES"</i> </ion-label><br><br>  
  <ion-label><i>Siga las intrucciones de esa sección, cuando las complete, siga al paso 4</i> </ion-label><br><br>
  <ion-label>PASO 4 OPCIONAL - PULSAR</ion-label><br><br>
  <ion-label>"CONTACTAR"</ion-label><br><br>
  <ion-label><i>Si desea ponerse en contacto con el Adminsitrador..</i></ion-label><br><br>
  <ion-label>PASO 5 OPCIONAL - OPCIONAL</ion-label><br><br>
  <ion-label>"PAPELERA"</ion-label><br><br>
  <ion-label><i>Para borrar noticias, deslice la noticia o pulse en la papelera..</i></ion-label><br><br>
 
  
  <br>
</div>

</ion-content>